:root {
    --card-height: 650px;
}

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main {
    height: 100%;
    width: 100vw;
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.img_wrapper {
    width: 75vw;
    z-index: 1;

    display: flex;
    gap: 8px;
}

.img_wrapper div {
    transition: all .25s .25s ease;
    height: var(--card-height);
    border-radius: 12px;
    position: relative;

    flex: 1;
}

.img_wrapper div::before {
    content: "";
    background: linear-gradient(180deg, gray, black 25%);
    border-radius: 12px;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.img_wrapper div a {
    height: var(--card-height);
    width: 100%;
    z-index: 9999;
    opacity: 0;
    padding: 24px;
    transition: all .25s .3s ease;

    text-decoration: none;
    color: wheat;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    
    position: absolute;
    top: 0;
    left: 0;
}

.img_wrapper div a:hover {
    opacity: 1;
}

.img_wrapper div a p {
    max-width: 50%;
    margin-top: 0;

    @media only screen and (max-width:900px) {
        max-width: 100%;
        
    }
}

.img_wrapper .div1 {
    background-image: url("./img/poster1.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img_wrapper .div2 {
    background-image: url("./img/poster2.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img_wrapper .div3 {
    background-image: url("./img/poster3.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img_wrapper .div4 {
    background-image: url("./img/poster4.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img_wrapper .div5 {
    background-image: url("./img/poster5.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img_wrapper div:hover {
    flex: 7;
}